
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<div class="card mb-3" style="max-width: 840px;max-height: 700px;" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="card-img" [src]="product.image" [alt]="product.productName">
     
    </div>
    <div class="col-md-8">
      <div class="card-body">
       

        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row"><b>Product - Name: </b></th>
              <td>{{ product.productName }}</td>
              </tr>
              <tr>
                <th scope="row"><b>Product - Price:</b></th>
                <td>{{ product.productPrice  | currency }}</td>
                </tr>
                <tr>
                <th scope="row"><b>Product - Brand:</b></th>
                <td>{{ product.productBrand  }}</td>
                </tr>
                <tr>
                  <th scope="row"><b>Product - Description:</b></th>
                  <td>{{ product.productDesc  }}</td>
                  </tr>
          </tbody>
        </table>      
      <mat-card-actions>
      
      <button mat-raised-button color="accent">Buy Now</button>&nbsp;&nbsp;
      <a mat-stroked-button   color="primary" (click)="addTocart()" >
        <span>
          <button mat-icon-button color="primary">
        <mat-icon >shopping_cart</mat-icon></button></span>Add to cart
          </a>
      </mat-card-actions>
           
      
    </div>
    </div>
      
  </div>
</div>
  
<mat-card-actions>
  <a mat-stroked-button  color ="warn" routerLink = "/home"> 
    <span class="glyphicon glyphicon-arrow-left"></span> View More
  </a>
  
  </mat-card-actions>
  
  
  
  
  
  
  
    
