
<mat-card class="login-card">
    <mat-card-header>
       <mat-card-title>Login</mat-card-title>
    </mat-card-header>
       <mat-card-content>
       <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
           <mat-form-field class="login-full-width">
               <mat-label>
                   Email
               </mat-label>
               <input matInput 
               placeholder="email@gmail.com" 
               formControlName="email"
               required 
               name= "email" 
               required
              type= "email">
             </mat-form-field>
   
             <mat-form-field class="login-full-width">
               <mat-label>
                   Password
               </mat-label>
               <input matInput 
               placeholder="Enter Password" 
               formControlName="password"
               required 
               name= "password">
             </mat-form-field>
            
            
             <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" >Login</button>
             
              </mat-card-actions>
       </form>
      
       
   </mat-card-content>

  
</mat-card>
 <!--
  <span class="register">If you don't have an account ? 
                <a mat-button color="accent" routerLink ="/register" routerLinkActive="active-link"><b>Register</b></a>
               </span>
 -->