<header><mat-toolbar color="primary">
   
    <mat-toolbar-row>
        <span>FashionMart</span>
          
         <a mat-button  routerLink ="/home" routerLinkActive="active">Home</a>
        <a mat-button  routerLink ="/products/product" routerLinkActive="active">Admin</a>
        <a mat-button  routerLink ="/login" routerLinkActive="active">Login</a>

        <a routerLink="/carts"  mat-stroked-button class="button fancy-button" >
          <i class="material-icons" >shopping_cart</i>View-Cart
        </a>
      
      </mat-toolbar-row>
</mat-toolbar>
</header>
<router-outlet></router-outlet>
<hr>
<footer class="footer text-center p-3" style="background-color: black;">
  <p class="lead text-muted mb-0">Fashion Mart <strong>&copy;</strong> By Ramya R@Developer.Hub 2k20</p>
  <p class="text-muted"><strong>A Fashion Destination...</strong></p>
</footer>
